{# --- ページレンダリングの骨格用ベースファイル --- #}
<!doctype html>
{#static命令の使用を宣言#}
{% load static %}

<html lang="ja">
    <head>
        <!-- jquery 本体-->
        <script src="{% static 'retriever/jquery-3.6.3.min.js' %}"></script>
        <!-- Bootstrap 本体-->
        <script src="{% static 'retriever/bootstrap4.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'retriever/bootstrap4.min.css' %}">
        <!-- BootstrapはjqueryUIより先に設置すること！ -->


        <!-- jquery ui 本体 -->
        <script src="{% static 'retriever/jquery-ui.min.js' %}"></script>
        <!-- jquery ui デザイン定義CSS -->
        <link rel="stylesheet" href="{% static 'retriever/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'retriever/jquery-ui.structure.css' %}">
        <link rel="stylesheet" href="{% static 'retriever/jquery-ui.theme.css' %}">

        <!-- jquery ui をスマートフォンで使えるようにするパッチ -->
        <script src="{% static 'retriever/jquery.ui.touch-punch.min.js' %}"></script>


        <!-- 表示レンダリング周りの設定 -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- ページタイトル挿入ブロック -->
        <title>{% block page_title %}{% endblock %}</title>

        <!--サービス全体で使い回したいCSSはココに列挙-->
        <link rel="stylesheet" type="text/css" href="{% static 'retriever/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'retriever/popup.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'retriever/AutoCompleteWithPullDown.css' %}">
        
        <!-- 追加CSSはここに展開 -->
        {% block extra_css %}{% endblock %}

        <!-- faviconの配信設定 -->
        <link rel="icon" href="{% static 'retriever/favicon.ico' %}">
        <link rel="apple-touch-icon" type="image/png" href="{% static 'retriever/apple-touch-icon-180x180.png'%}">
        <link rel="icon" type="image/png" href="{% static 'retriever/icon-192x192.png'%}">

    </head>

    <body>
        <!-- ナビゲーションをページ先頭にレンダリング -->
        {% block nav %}{% endblock %}

        <!-- コンテンツを包んで散らかさないようにするブロック -->
        <main role="main">
            {% block content %}{% endblock %}
        </main>

        <!--サービス全体で使い回したい自作ライブラリ等はココに列挙-->
        <script src="{% static 'retriever/popup.js' %}"></script>
        <script src="{% static 'retriever/hiddenInput.js' %}"></script>
        <script src="{% static 'retriever/AutoCompleteWithPullDown.js' %}"></script>

        <!-- 追加JSはここに展開 -->
        {% block extra_js %}{% endblock %}
    </body>
</html>